@{
    ViewData["Title"] = "_Layout";
}

<link rel="stylesheet" href="~/css/site.css" />

<div class="center">
    <main class="px-3">
        <h1 style="text-align: center;">Добро пожаловать в DIET!</h1>
        <p class="lead" style="font-weight: 300; text-align: center;" >Сервис,созданный для индивидуального подбора меню на целый день, основываясь на простоте и вкусовых качествах блюда. Программа сама проводит расчет нужных калорий на основе метрики, а уже потом разбивает приемы пищи на весь день, при этом сами блюда всегда будут разными для более удобной адаптации к новому режиму питания.</p>
        <div style="display: flex; justify-content: center;">
            <button class="btn btn-style" name="inputButton" type="submit">  <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Login">Войти</a></button>
        </div>
    </main>
</div>

